{% extends "template.html" %}
{% block title %}Update Stats{% endblock %}
{% block css %}riders.css{% endblock %}
{% block riders %}active{% endblock %}
{% block content %}
	<div style="float:left; width:30%;">
		<form id="updatebynum" action="{{ url_for('supdate') }}" method="post">
	       	<table class="ridersadd">
	       		<tr class="ridersadd">
					<th class="ridersadd">Current Index:</th><td><input type="text" name="num"/></td>
				</tr>
				<tr class="ridersadd">
					<th class="ridersadd">New Years in:</th><td><input type="text" name="years"/></td>
				</tr>
				<tr class="ridersadd">
					<th class="ridersadd">New Wins:</th><td><input type="text" name="wins"/></td>
				</tr>
				<tr class="ridersadd">
					<th class="ridersadd">New Podium:</th><td><input type="text" name="podium"/></td>
				</tr>
				<tr class="ridersadd">
					<th class="ridersadd">New Pole:</th><td><input type="text" name="pole"/></td>
				</tr>
				<tr class="ridersadd">
					<th class="ridersadd">New Championship Wins:</th><td><input type="text" name="champ"/></td>
				</tr>
				<tr class="ridersadd">
					<th class="ridersadd">New Total Points:</th><td><input type="text" name="totalp"/></td>
				</tr>
				<tr class="ridersadd">
					<th class="ridersadd">New Bike No:</th><td><input type="text" name="bikeno"/></td>
				</tr>
				</table>
			<br>
			<input class="riders" value="Update Stats" name="updatebynum" type="submit"/>
		</form>
	</div>
	<div style="float:left; width:2%;">
	<br>
	</div>
	<div style="float:left; width:68%;">
		<table class="riderslist">
			<tr>
	        	<th class="riderslist" style="width: 12%"> Index </th>
	        	<th class="riderslist" style="width: 12%"> Years in </th>
	        	<th class="riderslist" style="width: 12%"> Wins </th>
	        	<th class="riderslist" style="width: 12%"> Podiums Count </th>
	        	<th class="riderslist" style="width: 12%"> Pole Positions </th>
	        	<th class="riderslist" style="width: 12%"> Championship Wins </th>
	        	<th class="riderslist" style="width: 12%"> Total Points </th>
	        	<th class="riderslist" style="width: 12%"> Bike No</th>
			</tr>
			{% for NUM, YEARS, WINS, PODIUM, POLE, CHAMP, TOTALP, BIKENO in result %}
	        <tr>
		        <td class="riderslist" style="width: 12%"> {{NUM}} </td>
		        <td class="riderslist" style="width: 12%"> {{YEARS}} </td>
		        <td class="riderslist" style="width: 12%"> {{WINS}} </td>
		        <td class="riderslist" style="width: 12%"> {{PODIUM}} </td>
		        <td class="riderslist" style="width: 12%"> {{POLE}} </td>
		        <td class="riderslist" style="width: 12%"> {{CHAMP}} </td>
		        <td class="riderslist" style="width: 12%"> {{TOTALP}} </td>
		        <td class="riderslist" style="width: 12%"> {{BIKENO}} </td>
	        </tr>
	        	{%endfor%}
		</table>
	</div>

{% endblock %}