{% extends "template.html" %}
{% block title %}Add Rider{% endblock %}
{% block css %}riders.css{% endblock %}
{% block riders %}active{% endblock %}
{% block content %}
	<form id="adddefault" action="{{ url_for('riders') }}" method="post">
       	<table class="ridersadd">
       		<tr class="ridersadd">
				<th class="ridersadd">Name:</th><td><input type="text" name="name"/></td>
			</tr>
			<tr class="ridersadd">
				<th class="ridersadd">Surname:</th><td><input type="text" name="surname"/></td>
			</tr>
			<tr class="ridersadd">
				<th class="ridersadd">Age:</th><td><input type="text" name="age"/></td>
			</tr>
			<tr class="ridersadd">
				<th class="ridersadd">Gender:</th><td><input type="text" name="gender"/></td>
			</tr>
			<tr class="ridersadd">
				<th class="ridersadd">Team: </th><td><input type="text" name="team"/></td>
			</tr>
			<tr class="ridersadd">
				<th class="ridersadd">Brand:</th><td><input type="text" name="brand"/></td>
			</tr>
			<tr class="ridersadd">
				<th class="ridersadd">Model:</th><td><input type="text" name="model"/></td>
			</tr>
			<tr class="ridersadd">
				<th class="ridersadd">Nation:</th><td><input type="text" name="nation"/></td>
			</tr>
			<tr class="ridersadd">
				<th class="ridersadd">Bike No:</th><td><input type="text" name="bikeno"/></td>
			</tr>
			</table>
			<br>
		<input class="ridersadd" value="Add Rider" name="adddefault" type="submit"/>
	</form>

{% endblock %}
