{% extends "template.html" %}
{% block title %}Delete Rider{% endblock %}
{% block css %}riders.css{% endblock %}
{% block riders %}active{% endblock %}
{% block content %}
	<div style="float:left; width:30%;">
	<form id="deldefault" action="{{ url_for('rdelete') }}" method="post">
		<table class="ridersdel">
			<tr class="ridersdel">
				<th class="ridersdel">Name: </th>
				<td><input type="text" name="name"/></td>
			</tr>
			<tr class="ridersdel">
				<th class="ridersdel">Surname: </th>
				<td><input type="text" name="surname"/></td>
			</tr>
		</table>
		<br>
		<input class="riders" value="Delete Player" name="deldefault" type="submit"/>
	</form>
	<br>
	<form id="delbynum" action="{{ url_for('rdelete') }}" method="post">
		<table class="ridersdel">
			<tr class="ridersdel">
				<th class="ridersdel">Index: </th>
				<td><input type="text" name="num"/></td>
			</tr>
		</table>
		<br>
		<input class="riders" value="Delete Player" name="delbynum" type="submit"/>
	</form>
	</div>
	<div style="float:left; width:2%;">
	<br>
	</div>
	<div style="float:left; width:68%;">
	<table class="riderslist">
		<tr>
        	<th class="riderslist" style="width: 3%"> Index </th>
        	<th class="riderslist" style="width: 10%"> Name </th>
        	<th class="riderslist" style="width: 10%"> Surname </th>
        	<th class="riderslist" style="width: 3%"> Age </th>
        	<th class="riderslist" style="width: 3%"> Gender </th>
        	<th class="riderslist" style="width: 10%"> Team </th>
        	<th class="riderslist" style="width: 10%"> Brand </th>
        	<th class="riderslist" style="width: 6%"> Model </th>
        	<th class="riderslist" style="width: 10%"> Nation </th>
        	<th class="riderslist" style="width: 5%"> Bike No </th>
		</tr>
		{% for NUM, NAME, SURNAME, AGE, GENDER, TEAM, BRAND, MODEL, NATION, BIKENO in result %}
        <tr>
	        <td class="riderslist" style="width: 3%"> {{NUM}} </td>
	        <td class="riderslist" style="width: 10%"> {{NAME}} </td>
	        <td class="riderslist" style="width: 10%"> {{SURNAME}} </td>
	        <td class="riderslist" style="width: 3%"> {{AGE}} </td>
	        <td class="riderslist" style="width: 3%"> {{GENDER}} </td>
	        <td class="riderslist" style="width: 10%"> {{TEAM}} </td>
	        <td class="riderslist" style="width: 10%"> {{BRAND}} </td>
	        <td class="riderslist" style="width: 6%"> {{MODEL}} </td>
	        <td class="riderslist" style="width: 10%"> {{NATION}} </td>
	        <td class="riderslist" style="width: 5%"> {{BIKENO}} </td>
        </tr>
        	{%endfor%}
	</table>
	</div>

{% endblock %}