{% extends "template.html" %}
{% block title %}Delete Rider{% endblock %}
{% block css %}riders.css{% endblock %}
{% block riders %}active{% endblock %}
{% block content %}
	<div style="float:left; width:30%;">
	<form id="deldefault" action="{{ url_for('rdelete') }}" method="post">
		<table class="ridersdel">
			<tr class="ridersdel">
				<th class="ridersdel">Name: </th>
				<td><input type="text" name="name"/></td>
			</tr>
			<tr class="ridersdel">
				<th class="ridersdel">Surname: </th>
				<td><input type="text" name="surname"/></td>
			</tr>
		</table>
		<br>
		<input class="ridersdel" value="Delete Player" name="deldefault" type="submit"/>
	</form>
	</div>
	<div style="float:left; width:5%;">
	<br>
	</div>
	<div style="float:left; width:30%;">
	<form id="delbynum" action="{{ url_for('rdelete') }}" method="post">
		<table class="ridersdel">
			<tr class="ridersdel">
				<th class="ridersdel">Index: </th>
				<td><input type="text" name="num"/></td>
			</tr>
		</table>
		<br>
		<input class="ridersdel" value="Delete Player" name="delbynum" type="submit"/>
	</form>
	</div>

{% endblock %}