{% extends "template.html" %}
{% block title %}Riders List{% endblock %}
{% block css %}riders.css{% endblock %}
{% block riders%}active{% endblock %}
{% block content %}
	<table class="riderslist">
		<tr>
        	<th class="riderslist" style="width: 3%"> Index </th>
        	<th class="riderslist" style="width: 10%"> Name </th>
        	<th class="riderslist" style="width: 10%"> Surname </th>
        	<th class="riderslist" style="width: 3%"> Age </th>
        	<th class="riderslist" style="width: 3%"> Gender </th>
        	<th class="riderslist" style="width: 10%"> Team </th>
        	<th class="riderslist" style="width: 8%"> Brand </th>
        	<th class="riderslist" style="width: 6%"> Model </th>
        	<th class="riderslist" style="width: 6%"> Nation </th>
        	<th class="riderslist" style="width: 8%"> Years in MOTOGP </th>
        	<th class="riderslist" style="width: 5%"> Bike No </th>
		</tr>
		{% for NUM, NAME, SURNAME, AGE, GENDER, TEAM, BRAND, MODEL, NATION, YEARS, BIKENO in result %}
        <tr>
	        <td class="riderslist" style="width: 3%"> {{NUM}} </td>
	        <td class="riderslist" style="width: 10%"> {{NAME}} </td>
	        <td class="riderslist" style="width: 10%"> {{SURNAME}} </td>
	        <td class="riderslist" style="width: 3%"> {{AGE}} </td>
	        <td class="riderslist" style="width: 3%"> {{GENDER}} </td>
	        <td class="riderslist" style="width: 10%"> {{TEAM}} </td>
	        <td class="riderslist" style="width: 8%"> {{BRAND}} </td>
	        <td class="riderslist" style="width: 6%"> {{MODEL}} </td>
	        <td class="riderslist" style="width: 6%"> {{NATION}} </td>
	        <td class="riderslist" style="width: 8%"> {{YEARS}} </td>
	        <td class="riderslist" style="width: 5%"> {{BIKENO}} </td>
        </tr>
        	{%endfor%}
	</table>

{% endblock %}