{% extends "template.html" %}
{% block title %}Stats Dashboard{% endblock %}
{% block css %}riders.css{% endblock %}
{% block riders %}active{% endblock %}
{% block content %}

	<script type="text/javascript">
 		function show(id) {
    		var e = document.getElementById(id);
   			e.style.display = 'block';
 		}
 		function hide(id) {
    		var e = document.getElementById(id);
    		e.style.display = 'none';
 		}
	</script>
	<div style="float:left; width:30%;">
	<table class="riderssel">
		<tr>
			<th class="riderssel"><a href="javascript:show('adddefault'); javascript:hide('updatebynum'); javascript:hide('searchdefault'); javascript:hide('searchbyrider'); javascript:hide('delbynum'); javascript:hide('delbyrider')">
        	Add
    		</a></th>
    		<th class="riderssel"><a href="javascript:hide('adddefault'); javascript:show('updatebynum'); javascript:hide('searchdefault'); javascript:hide('searchbyrider'); javascript:hide('delbynum'); javascript:hide('delbyrider')">
        	Update
    		</a></th>
    		<th class="riderssel"><a href="javascript:hide('adddefault'); javascript:hide('updatebynum'); javascript:show('searchdefault'); javascript:show('searchbyrider'); javascript:hide('delbynum'); javascript:hide('delbyrider')">
      	  	Search
    		</a></th>
    		<th class="riderssel"><a href="javascript:hide('adddefault'); javascript:hide('updatebynum'); javascript:hide('searchdefault'); javascript:hide('searchbyrider'); javascript:show('delbynum'); javascript:show('delbyrider')">
        	Delete
    		</a></th>
    	</tr>
    </table>
	<br>
	<form id="adddefault" action="{{ url_for('stats') }}" method="post">
       	<table class="riders">
			<tr class="riders">
				<th class="riders">Rider Index:</th><td>
					<select name="statid" class="drop">
						{% for NUM, NAME, SURNAME, AGE, GENDER, TEAM, BRAND, MODEL, NATION, YEARS, BIKENO in riders %}
					        <option value="{{NUM}}">{{NUM}} - {{ NAME }} {{SURNAME}}</option>
						{% endfor %}
				    </select>
				</td>
			</tr>
			<tr class="riders">
				<th class="riders">Stat Year:</th><td><input type="text" placeholder="Enter Number..." name="year"/></td>
			</tr>
			<tr class="riders">
				<th class="riders">Completed Races:</th><td><input type="text" placeholder="Enter Number..." name="races"/></td>
			</tr>
			<tr class="riders">
				<th class="riders">Victory:</th><td><input type="text" placeholder="Enter Number..." name="victory"/></td>
			</tr>
			<tr class="riders">
				<th class="riders">Second Place:</th><td><input type="text" placeholder="Enter Number..." name="second"/></td>
			</tr>
			<tr class="riders">
				<th class="riders">Third Place:</th><td><input type="text" placeholder="Enter Number..." name="third"/></td>
			</tr>
			<tr class="riders">
				<th class="riders">Pole Positions:</th><td><input type="text" placeholder="Enter Number..." name="pole"/></td>
			</tr>
			<tr class="riders">
				<th class="riders">Points:</th><td><input type="text" placeholder="Enter Number..." name="points"/></td>
			</tr>
			<tr class="riders">
				<th class="riders">Season Position:</th><td><input type="text" placeholder="Enter Number..." name="position"/></td>
			</tr>
			</table>
		<br>
		<input class="riders" value="Add Stats" name="adddefault" type="submit"/>
	</form>
	<form id="updatebynum" action="{{ url_for('stats') }}" method="post" style="display:none;">
	       	<table class="riders">
	       		<tr class="riders">
					<th class="riders">Current Stat Index:</th><td><input type="text" placeholder="Enter Number..." name="num"/></td>
				</tr>
			<tr class="riders">
				<th class="riders">Rider Index:</th><td>
					<select name="statid" class="drop">
						{% for NUM, NAME, SURNAME, AGE, GENDER, TEAM, BRAND, MODEL, NATION, YEARS, BIKENO in riders %}
					        <option value="{{NUM}}">{{NUM}} - {{ NAME }} {{SURNAME}}</option>
						{% endfor %}
				    </select>
				</td>
			</tr>
				<tr class="riders">
					<th class="riders">Year:</th><td><input type="text" placeholder="Enter Number..." name="year"/></td>
				</tr>
				<tr class="riders">
					<th class="riders">Races:</th><td><input type="text" placeholder="Enter Number..." name="races"/></td>
				</tr>
				<tr class="riders">
					<th class="riders">Victory:</th><td><input type="text" placeholder="Enter Number..." name="victory"/></td>
				</tr>
				<tr class="riders">
					<th class="riders">Second Position:</th><td><input type="text" placeholder="Enter Number..." name="second"/></td>
				</tr>
				<tr class="riders">
					<th class="riders">Third Position:</th><td><input type="text" placeholder="Enter Number..." name="third"/></td>
				</tr>
				<tr class="riders">
					<th class="riders">Pole Positions:</th><td><input type="text" placeholder="Enter Number..." name="pole"/></td>
				</tr>
				<tr class="riders">
					<th class="riders">Points:</th><td><input type="text" placeholder="Enter Number..." name="points"/></td>
				</tr>
				<tr class="riders">
					<th class="riders">Position:</th><td><input type="text" placeholder="Enter Number..." name="position"/></td>
				</tr>
				</table>
		<br>
		<input class="riders" value="Update Stats" name="updatebynum" type="submit"/>
	</form>
	<form id="searchdefault" action="{{ url_for('stats') }}" method="post" style="display:none;">
       	<table class="ridersdel" style="height:160px">
       		<tr class="riders">
				<th class="riders">Year:</th><td><input type="text" placeholder="Leave blank for any..." name="year"/></td>
			</tr>
       		<tr class="riders">
				<th class="riders">Position:</th><td><input type="text" placeholder="Leave blank for any..." name="position"/></td>
			</tr>
			</table>
			<br>
		<input class="riders" value="Search Stats" name="searchdefault" type="submit"/>
	</form>
	<br>
	<form id="searchbyrider" action="{{ url_for('stats') }}" method="post" style="display:none;">
       	<table class="riders" style="height:100px">
			<tr class="riders">
				<th class="riders">Rider Index:</th><td>
					<select name="statid" class="drop">
						{% for NUM, NAME, SURNAME, AGE, GENDER, TEAM, BRAND, MODEL, NATION, YEARS, BIKENO in riders %}
					        <option value="{{NUM}}">{{NUM}} - {{ NAME }} {{SURNAME}}</option>
						{% endfor %}
				    </select>
				</td>
			</tr>
			</table>
			<br>
		<input class="riders" value="Search Stats" name="searchbyrider" type="submit"/>
	</form>
	<form id="delbyrider" action="{{ url_for('stats') }}" method="post" style="display:none;">
		<table class="ridersdel" style="height:79px">
			<tr class="riders">
				<th class="riders">Rider Index:</th><td>
					<select name="statid" class="drop">
						{% for NUM, NAME, SURNAME, AGE, GENDER, TEAM, BRAND, MODEL, NATION, YEARS, BIKENO in riders %}
					        <option value="{{NUM}}">{{NUM}} - {{ NAME }} {{SURNAME}}</option>
						{% endfor %}
				    </select>
				</td>
			</tr>
		</table>
		<br>
		<input class="riders" value="Delete Stats" name="delbyrider" type="submit"/>
	</form>
	<br>
	<form id="delbynum" action="{{ url_for('stats') }}" method="post" style="display:none;">
		<table class="ridersdel" style="height:79px">
			<tr class="riders">
				<th class="riders">Stat Index: </th>
				<td><input type="text" placeholder="Enter Number..." name="num"/></td>
			</tr>
		</table>
		<br>
		<input class="riders" value="Delete Stats" name="delbynum" type="submit"/>
	</form>
	
	</div>
	<div style="float:left; width:2%;">
	<br>
	</div>
	<div style="float:left; width:68%;">
	<table class="riderslist">
		<tr>
        	<th class="riderslist" style="width: 9%"> Stat Index </th>
        	<th class="riderslist" style="width: 9%"> Rider Index</th>
        	<th class="riderslist" style="width: 9%"> Year </th>
        	<th class="riderslist" style="width: 9%"> Completed Races </th>
        	<th class="riderslist" style="width: 9%"> Victory </th>
        	<th class="riderslist" style="width: 9%"> Second Position </th>
        	<th class="riderslist" style="width: 9%"> Third Position </th>
        	<th class="riderslist" style="width: 9%"> Podium </th>
        	<th class="riderslist" style="width: 9%"> Pole Position </th>
        	<th class="riderslist" style="width: 9%"> Points </th>
        	<th class="riderslist" style="width: 9%"> Season Position </th>
		</tr>
		{% for NUM, YEAR, RACES, VICTORY, SECOND, THIRD, PODIUM, POLE, POINTS, POSITION, STATID in result %}
        <tr>
	        <td class="riderslist" style="width: 9%"> {{NUM}} </td>
	        <td class="riderslist" style="width: 9%"> {{STATID}} </td>
	        <td class="riderslist" style="width: 9%"> {{YEAR}} </td>
	        <td class="riderslist" style="width: 9%"> {{RACES}} </td>
	        <td class="riderslist" style="width: 9%"> {{VICTORY}} </td>
	        <td class="riderslist" style="width: 9%"> {{SECOND}} </td>
	        <td class="riderslist" style="width: 9%"> {{THIRD}} </td>
	        <td class="riderslist" style="width: 9%"> {{PODIUM}} </td>
	        <td class="riderslist" style="width: 9%"> {{POLE}} </td>
	        <td class="riderslist" style="width: 9%"> {{POINTS}} </td>
	        <td class="riderslist" style="width: 9%"> {{POSITION}} </td>
        </tr>
        	{%endfor%}
	</table>
	</div>
	
{% endblock %}