{% extends "template.html" %}
{% block title %}Update Rider{% endblock %}
{% block css %}riders.css{% endblock %}
{% block riders %}active{% endblock %}
{% block content %}
	<div style="float:left; width:30%;">
		<form id="updatebynum" action="{{ url_for('rupdate') }}" method="post">
	       	<table class="riders">
			<tr class="riders">
				<th class="riders">Current Index:</th><td>
					<select name="num" class="drop">
						{% for NUM, NAME, SURNAME, AGE, GENDER, TEAM, BRAND, MODEL, NATION, YEARS, BIKENO in result %}
					        <option value="{{NUM}}">{{NUM}} - {{ NAME }} {{SURNAME}}</option>
						{% endfor %}
				    </select>
				</td>
			</tr>
	       		<tr class="riders">
					<th class="riders">Name:</th><td><input type="text" name="name"/></td>
				</tr>
				<tr class="riders">
					<th class="riders">Surname:</th><td><input type="text" name="surname"/></td>
				</tr>
				<tr class="riders">
					<th class="riders">Age:</th><td><input type="text" name="age"/></td>
				</tr>
				<tr class="riders">
					<th class="riders">Gender:</th><td><input type="text" name="gender"/></td>
				</tr>
				<tr class="riders">
					<th class="riders">Team: </th><td><input type="text" name="team"/></td>
				</tr>
				<tr class="riders">
					<th class="riders">Brand:</th><td><input type="text" name="brand"/></td>
				</tr>
				<tr class="riders">
					<th class="riders">Model:</th><td><input type="text" name="model"/></td>
				</tr>
				<tr class="riders">
					<th class="riders">Nation:</th><td><input type="text" name="nation"/></td>
				</tr>
				<tr class="riders">
					<th class="riders">Years in MOTOGP:</th><td><input type="text" name="years"/></td>
				</tr>
				<tr class="riders">
					<th class="riders">Bike No:</th><td><input type="text" name="bikeno"/></td>
				</tr>
				</table>
				<br>
			<input class="riders" value="Update Rider" name="updatebynum" type="submit"/>
		</form>
	</div>
	<div style="float:left; width:2%;">
	<br>
	</div>
	<div style="float:left; width:68%;">
	<table class="riderslist">
		<tr>
        	<th class="riderslist" style="width: 5%"> Index </th>
        	<th class="riderslist" style="width: 15%"> Name </th>
        	<th class="riderslist" style="width: 15%"> Surname </th>
        	<th class="riderslist" style="width: 5%"> Age </th>
        	<th class="riderslist" style="width: 6%"> Gender </th>
        	<th class="riderslist" style="width: 20%"> Team </th>
        	<th class="riderslist" style="width: 8%"> Brand </th>
        	<th class="riderslist" style="width: 6%"> Model </th>
        	<th class="riderslist" style="width: 6%"> Nation </th>
        	<th class="riderslist" style="width: 8%"> Years in MOTOGP </th>
        	<th class="riderslist" style="width: 6%"> Bike No </th>
		</tr>
		{% for NUM, NAME, SURNAME, AGE, GENDER, TEAM, BRAND, MODEL, NATION, YEARS, BIKENO in result %}
        <tr>
	        <td class="riderslist" style="width: 5%"> {{NUM}} </td>
	        <td class="riderslist" style="width: 15%"> {{NAME}} </td>
	        <td class="riderslist" style="width: 15%"> {{SURNAME}} </td>
	        <td class="riderslist" style="width: 5%"> {{AGE}} </td>
	        <td class="riderslist" style="width: 6%"> {{GENDER}} </td>
	        <td class="riderslist" style="width: 20%"> {{TEAM}} </td>
	        <td class="riderslist" style="width: 8%"> {{BRAND}} </td>
	        <td class="riderslist" style="width: 6%"> {{MODEL}} </td>
	        <td class="riderslist" style="width: 6%"> {{NATION}} </td>
	        <td class="riderslist" style="width: 8%"> {{YEARS}} </td>
	        <td class="riderslist" style="width: 6%"> {{BIKENO}} </td>
        </tr>
        	{%endfor%}
	</table>
	</div>
{% endblock %}