table.Accidents{
	text-align: center;
	vertical-align: center;
	width: 90%;
	border: 3px solid #015873;
	border-radius:3px;
	background-color: #b2b2b2
	color: #black;
}
th.Accidents {
	text-align: center;
	vertical-align: center;
	background-color: #015873;
	color: black;
	width: 65%;
}
th.ope{
	text-align: center;
	vertical-align: center;
	color: #b2b2b2;
	width: 65%;
}
form.ope{
	text-align: center;
	vertical-align: center;
	color: black;
	background-color: #b2b2b2;
	width: 65%;
}
