table.circuits{
	text-align: center;
	vertical-align: center;
	width: 90%;
	border: 3px solid red;
	border-radius:3px;
	background-color: #005399
	color: #black;
}
th.circuits {
	text-align: center;
	vertical-align: center;
	background-color: #005399;
	border-radius: 3px;
	border: 4px solid #blue;
	color: black;
}
th.op{
	text-align: center;
	vertical-align: center;
	color: #005399;

}
form.op{
	text-align: center;
	vertical-align: center;
	color: black;
	background-color: #005399
}
