body {
  background-color: #bdbdbd;
  background-image: url("motogp-logo.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  color: #6F6F6F;
  font-family: 'Droid Sans', 'Helvetica', 'sans';
  font-size: 12pt;
  margin: 2ex 2em;
}

h1, h3, h4 {
 color: #4E69A2;
}

h2{
 color: #AD12B6;
}

a {
  color: #6F6F6F;
  text-decoration: underline;
}

div#datetime {
  font-size: 80%;
  text-align: right;
}
