{% extends "template.html" %}
{% block title %}Brands{% endblock %}
{% block css %}brands.css{% endblock %}
{% block brands %}active{% endblock %}
{% block content %}

<h1>Brands</h1>


        <table class="brands">
        <tr>
        	<td class="brands"> ID </td>
        	<td class="brands"> Name </td>
        	<td class="brands"> Country </td>
        	<td class="brands"> Foundation Year </td>
        	<td class="brands"> #Constructor Championship </td>
        </tr>
        	{% for ID, name, country, year, champion in brands %}
        	<tr>
        		<td class="brands"> {{ID}} </td>
        		<td class="brands"> {{name}} </td>
        		<td class="brands"> {{country}} </td>
        		<td class="brands"> {{year}} </td>
        		<td class="brands"> {{champion}} </td>
        	</tr>
        	{%endfor%}
        </table>
        
        <form id="addBrand" class= "klas" action="{{ url_for('brandsPage') }}" method="post">
        	<table style="width:80%", align="center">
        	<tr>
        		<td>
					<input value="Add Brand" name="addBrand" type="submit"/>
				</td>
				<th class= "klas">Name: </th>
				<td>
					<input type="text" name="name"/>
				</td>
				<th class= "klas">Country:</th>
				<td>
					<input type="text" name="country"/>
				</td>
				<th class= "klas">Foundation Year: </th>
				<td>
					<input type="text" name="year"/>
				</td>
				<th class= "klas">#Constructor Championship: </th>
				<td>
					<input type="text" name="champion"/>
				</td>
			</tr>
			</table>
		</form>
		
		
		<table style="width:50%", align="center">
		<td>
		<form id="dbynameBrand" class= "klas" action="{{ url_for('brandsPage') }}" method="post">
        <table style="width:25%">
				<th class= "klas">Name: </th>
        		<td>
        			<input type="text" name="name"/>
				</td>
				<td>
        			<input value="Delete Brand by Name" name="dbynameBrand" type="submit"/>
				</td>
		</table>
		</form>
		</td>
		<td>
		
		<form id="dbyidBrand" class= "klas" action="{{ url_for('brandsPage') }}" method="post">
		<table align="center" ,style="width:25%">
				<th class= "klas">ID: </th>
        		<td>
        			<input type="text" name="ID"/>
				</td>
				<td>
        			<input value="Delete Brand by ID" name="dbyidBrand" type="submit"/>
				</td>	
		</table>	
		</form>
		</td>
		</table>
        
        <form id="updateBrand" class= "klas" action="{{ url_for('brandsPage') }}" method="post">
        	<table style="width:80%", align="center">
        	<tr>
        		<td>
					<input value="Update Brand" name="updateBrand" type="submit"/>
				</td>
        		<th class= "klas">ID: </th>
				<td>
					<input type="text" placeholder=" Enter ID of the tupple to update" name="ID"/>
				</td>
				<th class= "klas">Name: </th>
				<td>
					<input type="text" name="name"/>
				</td>
				<th class= "klas">Country:</th>
				<td>
					<input type="text" name="country"/>
				</td>
				<th class= "klas">Foundation Year: </th>
				<td>
					<input type="text" name="year"/>
				</td>
				<th class= "klas">#Constructor Championship: </th>
				<td>
					<input type="text" name="champion"/>
			</table>
		</form>
		
		<form id="deleteAllBrands" class= "klas" action="{{ url_for('brandsPage') }}" method="post">
		 <div align="center">
			<input value="Delete All Brands" name="deleteAllBrands" type="submit"/>
		</div>
		</form>
		
		<form id="AutoFill" class= "klas" action="{{ url_for('brandsPage') }}" method="post">
		 <div align="center">
			<input value="Auto-fill" name="AutoFill" type="submit"/>
		</div>
		</form>
		
{% endblock %}
