{% extends "template.html" %}
{% block title %}Teams{% endblock %}
{% block css %}teams.css{% endblock %}
{% block teams %}active{% endblock %}
{% block content %}

	<div style="float:left; width:20%;">
    <form id="addCountry" action="{{ url_for('countriesPage') }}" method="post">
       	<table class="modifyTeam">
       		<tr class="modifyTeam">
				<th class="modifyTeam">Name:</th><td><input type="text" name="name"/></td>
			</tr>
			<tr class="modifyTeam">
				<th class="modifyTeam">Abbreviation:</th><td><input type="text" name="abbreviation"/></td>
			</tr>
			<tr class="modifyTeam">
				<th class="modifyTeam">Continent:</th><td><input type="text" name="continent"/></td>
			</tr>
			</table>
		<input class="modifyTeam" value="Add Country" name="addCountry" type="submit"/>
	</form>
	</div>
	<div style="float:left; width:2.5%;">
	<br>
	</div>
    <div style="float:left; width:20%;">
	<form id="updateCountry" action="{{ url_for('countriesPage') }}" method="post">
       	<table class="modifyTeam">
       		<tr class="modifyTeam">
				<th class="modifyTeam">Old Name:</th><td><input type="text" name="name"/></td>
			</tr>
       		<tr class="modifyTeam">
				<th class="modifyTeam">New Name:</th><td><input type="text" name="newName"/></td>
			</tr>
			<tr class="modifyTeam">
				<th class="modifyTeam">Abbreviation:</th><td><input type="text" name="abbreviation"/></td>
			</tr>
			<tr class="modifyTeam">
				<th class="modifyTeam">Continent:</th><td><input type="text" name="continent"/></td>
			</tr>
			</table>
		<input class="modifyTeam" value="Update Country" name="updateCountry" type="submit"/>
	</form>
	</div>
	<div style="float:left; width:2.5%;">
	<br>
	</div>
    <div style="float:left; width:18%;">
	<form id="deleteCountry" action="{{ url_for('countriesPage') }}" method="post">
       	<table class="modifyTeam">
       		<tr class="modifyTeam">
				<th class="modifyTeam">Name:</th><td><input type="text" name="name"/></td>
			</tr>
			</table>
		<input class="modifyTeam" value="Delete Country" name="deleteCountry" type="submit"/>
	</form>
	<br>
	<form id="searchCountryName" action="{{ url_for('countriesPage') }}" method="post">
       	<table class="modifyTeam">
       		<tr class="modifyTeam">
				<th class="modifyTeam">Name:</th><td><input type="text" name="name"/></td>
			</tr>
			</table>
		<input class="modifyTeam" value="Search Country" name="searchCountryName" type="submit"/>
	</form>
	</div>
	<table class=listTeams style="width: 40%; margin-top: 250px;">
    <tr class=listTeams>
       	<th class=listTeams style="width: 20%"> Name </th>
       	<th class=listTeams style="width: 5%"> Abbreviation </th>
       	<th class=listTeams style="width: 15%"> Continent </th>
    </tr>
       	{% for name, abbreviation, continent in countries %}
       	<tr class=listTeams>
       		<td class=listTeams style="width: 20%">{{name}} </td>
       		<td class=listTeams style="width: 5%"> {{abbreviation}} </td>
       		<td class=listTeams style="width: 15%"> {{continent}} </td>
       	</tr class=listTeams>
       	{%endfor%}
    </table>

{% endblock %}