{% extends "template.html" %}
{% block title %}Home{% endblock %}
{% block home %}active{% endblock %}
{% block content %}
	<style>
		th.home{
			background-color: #6d6d6d; width: 10%; border-radius: 2px;
		}
	</style>
	<br>
	<br>
	<h2>Team project for Database Management Systems course (ITU Computer Engineering 2015 Fall)</h2>
	<br>
	<br>
	<br>
    <h3>Goktug Ocalan</h3>
    <h3>Hatice Ozdemir</h3>
    <h3>Mehmet Emir Memmi</h3>
    <h3>Nuri Mertcan Guner</h3>
    <h3>Onur Can Carkci</h3>
{% endblock %}
