{% extends "template.html" %}
{% block title %}Riders{% endblock %}
{% block css %}riders.css{% endblock %}
{% block riders %}active{% endblock %}
{% block content %}

	<script type="text/javascript">
 		function show(id) {
    		var e = document.getElementById(id);
   			e.style.display = 'block';
 		}
 		function hide(id) {
    		var e = document.getElementById(id);
    		e.style.display = 'none';
 		}
	</script>
	<div style="float:left; width:30%;">
		<table class="riderssel">
		<tr>
			<th class="riderssel"><a href="javascript:show('adddefault'); javascript:hide('updatebynum'); javascript:hide('searchdefault'); javascript:hide('delbynum'); javascript:hide('deldefault')">
        	Add
    		</a></th>
    		<th class="riderssel"><a href="javascript:hide('adddefault'); javascript:show('updatebynum'); javascript:hide('searchdefault'); javascript:hide('delbynum'); javascript:hide('deldefault')">
        	Update
    		</a></th>
    		<th class="riderssel"><a href="javascript:hide('adddefault'); javascript:hide('updatebynum'); javascript:show('searchdefault'); javascript:hide('delbynum'); javascript:hide('deldefault')">
      	  	Search
    		</a></th>
    		<th class="riderssel"><a href="javascript:hide('adddefault'); javascript:hide('updatebynum'); javascript:hide('searchdefault'); javascript:show('delbynum'); javascript:show('deldefault')">
        	Delete
    		</a></th>
    	</tr>
    </table>
    <br>
    <form id="adddefault" action="{{ url_for('riders') }}" method="post">
       	<table class="riders">
       		<tr class="riders">
				<th class="riders">Name:</th><td><input type="text" name="name" placeholder=" Enter Text... "/></td>
			</tr>
			<tr class="riders">
				<th class="riders">Surname:</th><td><input type="text" name="surname" placeholder=" Enter Text... "/></td>
			</tr>
			<tr class="riders">
				<th class="riders">Age:</th><td><input type="text" name="age" placeholder=" Enter Number... "/></td>
			</tr>
			<tr class="riders">
				<th class="riders">Gender:</th><td>
					<select name="gender" class="drop">
						<option value="Male">Male</option>
						<option value="Female">Female</option>
						<option value="Other">Other</option>
				    </select>
				</td>
			</tr>
			<tr class="riders">
				<th class="riders">Team: </th><td><input type="text" name="team" placeholder=" Enter Text... "/></td>
			</tr>
			<tr class="riders">
				<th class="riders">Brand:</th><td><input type="text" name="brand" placeholder=" Enter Text... "/></td>
			</tr>
			<tr class="riders">
				<th class="riders">Model:</th><td><input type="text" name="model" placeholder=" Enter Text... "/></td>
			</tr>
			<tr class="riders">
				<th class="riders">Nation:</th><td><input type="text" name="nation" placeholder=" Enter Text... "/></td>
			</tr>
			<tr class="riders">
				<th class="riders">Years in MOTOGP:</th><td><input type="text" name="years" placeholder=" Enter Number... "/></td>
			</tr>
			<tr class="riders">
				<th class="riders">Bike No:</th><td><input type="text" name="bikeno" placeholder=" Enter Number... "/></td>
			</tr>
			</table>
			<br>
		<input class="riders" value="Add Rider" name="adddefault" type="submit"/>
	</form>
    <form id="updatebynum" action="{{ url_for('riders') }}" method="post" style="display:none;">
	       	<table class="riders">
			<tr class="riders">
				<th class="riders">Current Index:</th><td>
					<select name="num" class="drop">
						{% for NUM, NAME, SURNAME, AGE, GENDER, TEAM, BRAND, MODEL, NATION, YEARS, BIKENO in result %}
					        <option value="{{NUM}}">{{NUM}} - {{ NAME }} {{SURNAME}}</option>
						{% endfor %}
				    </select>
				</td>
			</tr>
	       		<tr class="riders">
					<th class="riders">Name:</th><td><input type="text" name="name" placeholder=" Enter Text... "/></td>
				</tr>
				<tr class="riders">
					<th class="riders">Surname:</th><td><input type="text" name="surname" placeholder=" Enter Text... "/></td>
				</tr>
				<tr class="riders">
					<th class="riders">Age:</th><td><input type="text" name="age" placeholder=" Enter Number... "/></td>
				</tr>
				<tr class="riders">
					<th class="riders">Gender:</th><td><input type="text" name="gender" placeholder=" Enter Text... "/></td>
				</tr>
				<tr class="riders">
					<th class="riders">Team: </th><td><input type="text" name="team" placeholder=" Enter Text... "/></td>
				</tr>
				<tr class="riders">
					<th class="riders">Brand:</th><td><input type="text" name="brand" placeholder=" Enter Text... "/></td>
				</tr>
				<tr class="riders">
					<th class="riders">Model:</th><td><input type="text" name="model" placeholder=" Enter Text... "/></td>
				</tr>
				<tr class="riders">
					<th class="riders">Nation:</th><td><input type="text" name="nation" placeholder=" Enter Text... "/></td>
				</tr>
				<tr class="riders">
					<th class="riders">Years in MOTOGP:</th><td><input type="text" name="years" placeholder=" Enter Number... "/></td>
				</tr>
				<tr class="riders">
					<th class="riders">Bike No:</th><td><input type="text" name="bikeno" placeholder=" Enter Number... "/></td>
				</tr>
				</table>
				<br>
			<input class="riders" value="Update Rider" name="updatebynum" type="submit"/>
		</form>
	<form id="searchdefault" action="{{ url_for('riders') }}" method="post" style="display:none;">
       	<table class="ridersdel" style="height:350px">
       		<tr class="riders">
				<th class="riders">Name:</th><td><input type="text" name="name" placeholder="Leave blank for any..." /></td>
			</tr>
       		<tr class="riders">
				<th class="riders">Surname:</th><td><input type="text" name="surname" placeholder="Leave blank for any..."/></td>
			</tr>
       		<tr class="riders">
				<th class="riders">Team:</th><td><input type="text" name="team" placeholder="Leave blank for any..."/></td>
			</tr>
       		<tr class="riders">
				<th class="riders">Brand:</th><td><input type="text" name="brand" placeholder="Leave blank for any..."/></td>
			</tr>
       		<tr class="riders">
				<th class="riders">Model:</th><td><input type="text" name="model" placeholder="Leave blank for any..."/></td>
			</tr>
       		<tr class="riders">
				<th class="riders">Nation:</th><td><input type="text" name="nation" placeholder="Leave blank for any..."/></td>
			</tr>
			</table>
			<br>
		<input class="riders" value="Search Rider" name="searchdefault" type="submit"/>
	</form>
	<form id="deldefault" action="{{ url_for('riders') }}" method="post" style="display:none;">
		<table class="ridersdel" style="height:180px;">
			<tr class="riders">
				<th class="riders">Name: </th>
				<td><input type="text" name="name" placeholder="Enter Text..."/></td>
			</tr>
			<tr class="riders">
				<th class="riders">Surname: </th>
				<td><input type="text" name="surname" placeholder="Enter Text..."/></td>
			</tr>
		</table>
		<br>
		<input class="riders" value="Delete Rider" name="deldefault" type="submit"/>
	</form>
	<br>
	<form id="delbynum" action="{{ url_for('riders') }}" method="post" style="display:none;">
		<table class="ridersdel" style="height:80px">
			<tr class="riders">
				<th class="riders">Index:</th><td>
					<select name="num" class="drop">
						{% for NUM, NAME, SURNAME, AGE, GENDER, TEAM, BRAND, MODEL, NATION, YEARS, BIKENO in result %}
					        <option value="{{NUM}}">{{NUM}} - {{ NAME }} {{SURNAME}}</option>
						{% endfor %}
				    </select>
				</td>
			</tr>
		</table>
		<br>
		<input class="riders" value="Delete Rider" name="delbynum" type="submit"/>
	</form>

	</div>
	<div style="float:left; width:2%;">
	<br>
	</div>
	<div style="float:left; width:68%;">
	<table class="riderslist">
		<tr>
        	<th class="riderslist" style="width: 5%"> Index </th>
        	<th class="riderslist" style="width: 15%"> Name </th>
        	<th class="riderslist" style="width: 15%"> Surname </th>
        	<th class="riderslist" style="width: 5%"> Age </th>
        	<th class="riderslist" style="width: 6%"> Gender </th>
        	<th class="riderslist" style="width: 20%"> Team </th>
        	<th class="riderslist" style="width: 8%"> Brand </th>
        	<th class="riderslist" style="width: 6%"> Model </th>
        	<th class="riderslist" style="width: 6%"> Nation </th>
        	<th class="riderslist" style="width: 8%"> Years in MOTOGP </th>
        	<th class="riderslist" style="width: 6%"> Bike No </th>
		</tr>
		{% for NUM, NAME, SURNAME, AGE, GENDER, TEAM, BRAND, MODEL, NATION, YEARS, BIKENO in result %}
        <tr>
	        <td class="riderslist" style="width: 5%"> {{NUM}} </td>
	        <td class="riderslist" style="width: 15%"> {{NAME}} </td>
	        <td class="riderslist" style="width: 15%"> {{SURNAME}} </td>
	        <td class="riderslist" style="width: 5%"> {{AGE}} </td>
	        <td class="riderslist" style="width: 6%"> {{GENDER}} </td>
	        <td class="riderslist" style="width: 20%"> {{TEAM}} </td>
	        <td class="riderslist" style="width: 8%"> {{BRAND}} </td>
	        <td class="riderslist" style="width: 6%"> {{MODEL}} </td>
	        <td class="riderslist" style="width: 6%"> {{NATION}} </td>
	        <td class="riderslist" style="width: 8%"> {{YEARS}} </td>
	        <td class="riderslist" style="width: 6%"> {{BIKENO}} </td>
        </tr>
        	{%endfor%}
	</table>
	</div>
{% endblock %}