{% extends "template.html" %}
{% block title %}Teams{% endblock %}
{% block css %}teams.css{% endblock %}
{% block teams %}active{% endblock %}
{% block content %}

    <div style="float:left; width:25%;">
    <form id="addTeam" action="{{ url_for('teamsPage') }}" method="post">
       	<table class="modifyTeam">
       		<tr class="modifyTeam">
				<th class="modifyTeam">Name:</th><td><input type="text" name="name"/></td>
			</tr>
			<tr class="modifyTeam">
				<th class="modifyTeam">Country:</th><td><input type="text" name="country"/></td>
			</tr>
			<tr class="modifyTeam">
				<th class="modifyTeam">Constructor:</th><td><input type="text" name="constructor"/></td>
			</tr>
			<tr class="modifyTeam">
				<th class="modifyTeam">Motorcycle:</th><td><input type="text" name="motorcycle"/></td>
			</tr>
			<tr class="modifyTeam">
				<th class="modifyTeam">Rider No: </th><td><input type="text" name="riderNo"/></td>
			</tr>
			</table>
		<input class="modifyTeam" value="Add Team" name="addTeam" type="submit"/>
	</form>
	<br>
	<form id="initTable" action="{{ url_for('teamsPage') }}" method="post">
		<input class="modifyTeam" value="Reset Table" name="initTable" type="submit"/>
	</form>
	</div>
	<div style="float:left; width:2.5%;">
	<br>
	</div>
    <div style="float:left; width:25%;">
    <form id="updateTeam" action="{{ url_for('teamsPage') }}" method="post">
       	<table class="modifyTeam">
       		<tr class="modifyTeam">
				<th class="modifyTeam">ID:</th><td><input type="text" name="id"/></td>
			</tr>
       		<tr class="modifyTeam">
				<th class="modifyTeam">Name:</th><td><input type="text" name="name"/></td>
			</tr>
			<tr class="modifyTeam">
				<th class="modifyTeam">Country:</th><td><input type="text" name="country"/></td>
			</tr>
			<tr class="modifyTeam">
				<th class="modifyTeam">Constructor:</th><td><input type="text" name="constructor"/></td>
			</tr>
			<tr class="modifyTeam">
				<th class="modifyTeam">Motorcycle:</th><td><input type="text" name="motorcycle"/></td>
			</tr>
			<tr class="modifyTeam">
				<th class="modifyTeam">Rider No: </th><td><input type="text" name="riderNo"/></td>
			</tr>
			</table>
		<input class="modifyTeam" value="Update Team" name="updateTeam" type="submit"/>
	</form>
	</div>
	<div style="float:left; width:2.5%;">
	<br>
	</div>
    <div style="float:left; width:25%;">
	<form id="deleteTeam" action="{{ url_for('teamsPage') }}" method="post">
       	<table class="modifyTeam">
       		<tr class="modifyTeam">
				<th class="modifyTeam">ID:</th><td><input type="text" name="id"/></td>
			</tr>
			</table>
		<input class="modifyTeam" value="Delete Team" name="deleteTeam" type="submit"/>
	</form>
	<br>
	<form id="searchTeamName" action="{{ url_for('teamsPage') }}" method="post">
       	<table class="modifyTeam">
       		<tr class="modifyTeam">
				<th class="modifyTeam">Name:</th><td><input type="text" name="name"/></td>
			</tr>
			</table>
		<input class="modifyTeam" value="Search Team" name="searchTeamName" type="submit"/>
	</form>
	</div>
	<table class=listTeams>
    <tr class=listTeams>
    	<th class=listTeams style="width: 5%"> ID </th>
       	<th class=listTeams style="width: 18%"> Name </th>
       	<th class=listTeams style="width: 12%"> Country </th>
       	<th class=listTeams style="width: 10%"> Constructor </th>
       	<th class=listTeams style="width: 18%"> Motorcycle </th>
       	<th class=listTeams style="width: 5%"> Rider No </th>
    </tr>
       	{% for id, name, country, constructor, motorcycle, riderNo in teams %}
       	<tr class=listTeams>
       		<td class=listTeams style="width: 5%">{{id}} </td>
       		<td class=listTeams style="width: 18%">{{name}} </td>
       		<td class=listTeams style="width: 12%"> {{country}} </td>
       		<td class=listTeams style="width: 10%"> {{constructor}} </td>
       		<td class=listTeams style="width: 18%"> {{motorcycle}} </td>
       		<td class=listTeams style="width: 5%"> {{riderNo}}</td>
       	</tr class=listTeams>
       	{%endfor%}
    </table>

{% endblock %}