<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - ITUCSDB1503</title>
  	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
	<link  rel="stylesheet" href="/static/{% block css %}{% endblock %}">
  </head>
  <body>
      <header>
      	 <nav class="navbar navbar-inverse">
  			<div class="container-fluid">
    			<div class="navbar-header">
      				<a class="navbar-brand" style="color:red;">MOTOGP</a>
    			</div>
    			<div>
      				<ul class="nav navbar-nav">
        			<li class="{% block home %}{% endblock %}"><a href="/">Home</a></li>
       				<li class="{% block riders %}{% endblock %}">
          				<a class="dropdown-toggle" data-toggle="dropdown" href="#">Riders
          				<span class="caret"></span></a>
          				<ul class="dropdown-menu">
            				<li><a href="/riders">Dashboard</a></li>
            				<li><a href="/riders/list">List Riders</a></li>
            				<li><a href="/riders/add">Add Rider</a></li>
            				<li><a href="/riders/search">Search Rider</a></li>
            				<li><a href="/riders/delete">Delete Rider</a></li>
          				</ul>
        			</li>
        			<li class="{% block teams %}{% endblock %}"><a href="/teams">Teams</a></li>
        			<li class="{% block circuits %}{% endblock %}"><a href="/circuits">Circuits</a></li>
        			<li class="{% block brands %}{% endblock %}"><a href="/brands">Brands</a></li>
        			<li class="{% block seasons %}{% endblock %}"><a href="/seasons">Seasons</a></li>
      				</ul>
      				<ul class="nav navbar-nav navbar-right">
       					<li><a href="/count">{{ current_time }}</a></li>
      				</ul>
    			</div>
  			</div>
		</nav>
  	</header>
  	{% block content %}{% endblock %}
  </body>
  <footer>

  </footer>
</html>