<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - ITUCSDB1503</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
  </head>
  <body>
      <header>
  		<table>
		<tr>
		<th class="home" onMouseOver="this.bgColor='#bdbdbd'" onMouseOut="this.bgColor='#424242'" bgColor=transparent> <a href="/">   Home   </a> </th>
		<th class="teams" onMouseOver="this.bgColor='#bdbdbd'" onMouseOut="this.bgColor='#424242'" bgColor=transparent> <a href="/teams">   Teams   </a> </th>
		<th class="riders" onMouseOver="this.bgColor='#bdbdbd'" onMouseOut="this.bgColor='#424242'" bgColor=transparent> <a href="/riders">   Riders   </a> </th>
		<th class="circuits" onMouseOver="this.bgColor='#bdbdbd'" onMouseOut="this.bgColor='#424242'" bgColor=transparent> <a href="/circuits">   Circuits   </a> </th>
		<th class="brands" onMouseOver="this.bgColor='#bdbdbd'" onMouseOut="this.bgColor='#424242'" bgColor=transparent> <a href="/brands">   Brands   </a> </th>
		<th class="seasons" onMouseOver="this.bgColor='#bdbdbd'" onMouseOut="this.bgColor='#424242'" bgColor=transparent> <a href="/seasons">   Seasons   </a> </th>
		<th class="blank"> <a>{{ current_time }}</a> </th>
		</tr>
		</table>
  	</header>
  	{% block content %}{% endblock %}
  </body>
  <footer>

  </footer>
</html>